<div>
    <button (click)="punch()" [ngClass]="{start: !(working$|async), stop: (working$|async)}">{{(working$ | async) ? 'Stop' : 'Start'}}</button>
</div>
<table>
    <thead>
        <tr>
            <th colspan="4">{{title}}</th>
        </tr>
        <tr>
            <th>Start</th>
            <th>Stop</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries$ | async">
            <td>{{entry.start | date:'h:mm:ss aa'}}</td>
            <td>{{entry.stop | date:'h:mm:ss aa'}}</td>
            <td>{{subtotal(entry) | hms}}</td>
            <td><button (click)="remove(entry)">Remove</button></td>
        </tr>
    </tbody>
    <tfoot *ngIf="entries$ | async as entries">
        <tr>
            <td colspan="2"></td>
            <td>{{total(entries) | hms}} ({{total(entries) | hms:true}})</td>
            <td></td>
        </tr>
    </tfoot>
</table>
<div>
    <label>
        <input type="checkbox" [(ngModel)]="confirm">I really want to clear
    </label>
    <button [disabled]="!confirm" (click)="clear()">Clear</button>
</div>