table {
    width: 100%;
}

.start {
    background-color: green;
    color: white;
}

.stop {
    background-color: red;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.footer {
    padding: 1rem;
}

.footer button {
    margin-left: 1rem;
}