table {
    border-collapse: collapse;
    margin: 5px 0;
}

th, td {
    border: solid 1px black;
    padding: 5px;
}

.start {
    background-color: green;
    color: white;
}

.stop {
    background-color: red;
    color: white;
}