table {
    width: 100%;
}

.start {
    background-color: green;
    color: white;
}

.stop {
    background-color: red;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

.mat-column-select {
    overflow: initial;
}

.clickable {
    cursor: pointer;
}