<div>
    <button *ngIf="!(current$ | async)" (click)="punch()">Start</button>
    <button *ngIf="current$ | async" (click)="punch()">Stop</button>
</div>
<table>
    <thead>
        <tr>
            <th>Start</th>
            <th>Stop</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of all$ | async">
            <td>{{entry.start | date:'h:mm:ss aa'}}</td>
            <td>{{entry.stop | date:'h:mm:ss aa'}}</td>
            <td>{{subtotal(entry) | hms}}</td>
        </tr>
        <tr *ngIf="current$ | async as entry">
            <td>{{entry.start | date:'h:mm:ss aa'}}</td>
            <td>{{entry.stop | date:'h:mm:ss aa'}}</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2"></th>
            <th>{{total() | async | hms}}</th>
        </tr>
    </tfoot>
</table>
<div>
    <label>
        <input type="checkbox" [(ngModel)]="confirm">I really want to clear
    </label>
    <button [disabled]="!confirm" (click)="clear()">Clear</button>
</div>